
@import 'bootstrap/dist/css/bootstrap.min.css';

/* NAVBAR */
.bottom-nav {
  position: fixed;
  bottom: 25px;                 
  left: 50%;
  transform: translateX(-50%);
  background: #0f0f0f;
  padding: 10px 20px;
  display: flex;
  gap: 12px;
  border-radius: 40px;
  border: px solid #1c1c1c;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);

  z-index: 100;
}


.nav-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 30px;
  border: 2px solid #2a2a2a;
  background: #141414;
  transition: 0.25s ease;
  text-align: center; 
  display: flex;      
  align-items: center;
  justify-content: center;
}


.nav-item:hover {
  background: #1f1f1f;
  border-color: #3a3a3a;
  transform: scale(1.05);
}

.nav-item.active {
  background: #eaeaea;
  color: #000;
  border-color: #c81515c6;
}

/* FINE NAVBAR */
/* ------------------------------------------------------------------------------------ */ 
